{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – GOV.UK Prototype Kit
{% endblock %}
{% block header %}
  <!-- Blank header with no service name -->
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}
  
{% endblock %}
{% block content %}
{% endblock %}
